<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body>
        <div align="center" class="page-header">
            <h1>UIT Regulations Question Answering System</h1>
        </div>
        <form action="{{ url_for('uit_helper') }}" method="post">
            <div class="form-group row px-2">
                <label for="question" class="col-sm-1 col-form-label">Question: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="question" placeholder="Your question here" aria-describedby="questionHelpBlock" value="{% if question is not none %}{{ question }}{% endif %}">
                    <small id="questionHelpBlock" class="form-text text-muted">Maximum question words count is 64. Longer question will be truncated.</small>    
                </div>
                <div class="col-sm-1">
                    <div class="form-group form-check px-2">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="isQueryExpand">Expansion</label>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Run</button>
                </div>
            </div>
        </form>
        <div class="px-2">
            <label for="answer">Returned answers: </label>
        </div>
        {% for para in paragraphs %}
        <div class="form-row px-2">
            <div class="alert alert-success col-md-9 px-2" role="alert" overflow="hidden">
                <p id='paragraph'>
                    [Score: {{ para[1] }}] : {{ para[0] }}
                </p>
            </div>
            <div class="alert alert-warning col-md-3 px-2" role="alert" overflow="hidden">
                <p id='paragraph'>
                    {% for answer in para[2] %}
                        <p>Answer: <mark>{{ answer['text'] }}</mark> - Confidence: {{ 100*answer['probability']|round(2) }} %</p>
                    {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}
    </body>
</html>
